.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  height: 84px;
  background-color: #d43c33;
  box-sizing: border-box;
}

.title {
  color: #ffffff;
  font-size: 23px;
  text-align: center;
}

.download-btn {
  color: #d43c33;
  font-size: 18px;
  background-color: #fff;
  padding: 5px 15px;
  border-radius: 84px;
}